
<<<<<<< HEAD
=======
#password-input {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: orange;
}

#username-input {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: orange;
}

#sign-in-button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(0, 0, 0);
    background-color: orangered;
    border: orangered solid 1px;
    border-radius: 20px;
    width: 50px;
    height: 30px;
}


#sign-in {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    transform: translateY(-50%);
    width: 600px;
    height: 600px;
    color: #251300;
}
